.alert-container{

      z-index: 20000;

      position: fixed;
      
      width: 100%;
      
      height: 100%;
      
      background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 576px) { 

      .screen-alert{

            width: 40% !important;

      }

}

.alert-content {

      top:13%;

      position: fixed;

      display: block;

      height: 0 auto;

      background-color: #697581;

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.screen-alert {

      pointer-events: none;

      position: absolute;

      top: 0;

      left: 0;

      width: 20% !important;

      z-index: 1;
}

.alert-title{

      font-size:1.5em;
}

.alert-text{

      font-size:.8em;
}

.close-alert{
      color:white;
      cursor:pointer;
}

.close-alert:hover{
      color:#f5f5f5;
      
      transform-origin: center center;

      animation: my-animation .5s ease;

}

  


@keyframes my-animation {        
  from {
    opacity : 1;
     transform: rotate(0deg);
  }
  to {
    opacity : .6;
     transform: rotate(90deg);
  }      
}