header.masthead.masthead-books {

	background-image: url('../img/headers/libros.jpg');

}

.my-overlay-books{

	background-color:rgba(0, 0, 0, 1) !important;
}

.quote-text{

	opacity:0;
}

.card-header{

	background-color: white !important;
}

.main-text-section{

	font-size:2em !important;
}

@media (min-width: 768px) { 

	.main-text-section{

		font-size:4.5em !important;
	}

}



.push-to-bottom {
	//position: absolute;
	//bottom: 50px;
	//left: 50%;
	//margin-left: -50px;
}

.book-name{

	font-size:.8em !important;
}

.book-author{

	font-size:.8em !important;
}

.main-book-image-container{

	background-color: #f5f5f5;

}
.book-data-content{
	font-size: .8em !important;
}

.other-items-col{
	background-color: #f8f8f8;
}

.lateral-item-name{

	text-decoration: none !important;

	font-size: .8em !important;
}

.element-book-item{
	text-decoration: none !important;
}

.books-page{

	margin-top:2.5em !important;
}