// Bootstrap overrides for this template
.text-primary { color: $primary !important; }

.btn {

  font-weight: 700;

  text-transform: uppercase;

    /*border: none;

    border-radius: 300px;*/

    @include sans-serif-font;

    color:white;
  }

  .btn-xl {

    padding: 1rem 2rem;

  }

  .btn-primary {

    background-color: $primary;

    border-color: $primary;
    
    &:hover,
    
    &:focus,
    
    &:active {

      color: $white;

      background-color: darken($primary, 5%) !important;
    }
    
    &:active,
    
    &:focus { box-shadow: 0 0 0 0.2rem rgba(240, 95, 64,.5) !important; }
  }


  .btn.btn-custom-lg,
  .btn.btn-custom-sm,
  .btn.btn-custom-xs {
    border-radius: 0;
  }
  /*Global*/

  .btn.btn-square {

    box-sizing: border-box;
    
    border-style: solid;
    
    border-width: thin !important;

    border-color:black !important;
    
    border-radius: 0 !important;
    
    //background-color:white !important;
    
    color:grey;

  }

  .modal-title{

    @include CooperHewitt-Medium;

  }

  .modal-body{

    @include CooperHewitt-Light;

  }

  *:focus{

    box-shadow: none !important;

    text-decoration: none !important;

  }

  @media (min-width: 992px) { 

    .blockquote{

      font-size: 1.05em !important;

    }

  }

  .form-group{

    //padding-left:0px !important;

  }

.btn-outline-light{

  border-radius: 0 !important;

}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }