/*header.masthead{

	height:80vh !important;

	}*/


	@media (min-width: 768px) { 

		.masthead-individual-course{

			height: 80vh !important;
		}

	}

	header.masthead.masthead-courses {

		background-image: url('../img/headers/cursos.jpg');

		height:60vh;
	}

	.main-text-section{

		font-size:4em !important;
	}

	.gallery-thumb{

		padding: 0 !important;

	}

	.thumbs-row{

		margin: 0 !important;

		padding: 0 !important;


	}

	.element-item{

		cursor: pointer !important;

		overflow: hidden !important;
	}

	.link-to-course{

		text-decoration: none !important;

		margin: 0 !important;
	}

	.course-data{

		margin-left:10px;

		margin-top:10px;

		height: auto;

	}

	.course-data-title{

		margin-bottom: 0 !important;

	}

	.more-about-course{

		color:white !important;
	}

	.inscription-to-course:hover, .more-about-course:hover{

		background:rgba(255, 255, 255, .5) !important;
	}

	.my-overlay-individual-course{

		background:rgba(0, 0, 0, 0.6) !important;
	}

	.main-text-section-individual-course{

		font-size: 1.5em !important;

		padding-top: 0px !important;

	}

	@media (min-width: 992px) { 

		.main-text-section-individual-course{

			padding-top: 50px !important;

			font-size: 2.5em !important;

		}

	}

	.courses-sidebar{

		width: 100%;

		float: right;

		background-color: #f4f4f4 !important;
	}


	input::-webkit-outer-spin-button,

	input::-webkit-inner-spin-button {

		-webkit-appearance: none;

		margin: 0;
	}

	.maestros{

		pointer-events: none;

		position: absolute;

		top: 0;

		left: 0;

		width: 45% !important;

		z-index: 1;

	}

	.element-item {

		transition: background 0.4s, box-shadow 0.4s;

	}

	.tutor-description{

		font-size:.8em !important;
	}

	.tutor-name{
		font-size: 1em !important;
	}

	#map {

		height: 500px;

		width:100%;
	}

	.course-lateral-name {

		overflow: hidden;

		display: -webkit-box;

		-webkit-line-clamp: 3;

		-webkit-box-orient: vertical;  

	}

	.thumbnail-container{

		overflow: hidden !important;

	}

	.ehover12 .lateral-item-overlay {

		padding: 15% 20px !important;

	}

	#background-image-main-container{

		overflow: hidden;

		position:absolute;

		top:0px;

		left:0px;

		width: 100%;

		height:100%;

		background-position: center center;

		background-size: cover;

	}


	.five-lines {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5; /* number of lines to show */
	}


.home-course{

	padding-bottom: 0 !important;


}