#contact{
	
}

#map {

	height: 500px;

	width:100%;

}

@media (max-width: 992px){

	#map {

		height: 300px;

	}



}

.form-input{
	
	background-color:#f0f0f0 !important;
	
	border-color:#e0e0e0 !important;

	border-radius: 0 !important;

	//padding-left:0 !important;
}

.error{

	color: red !important;

	text-transform: uppercase;

	@include CooperHewitt-Medium;

	font-size: .8em;


}

.form-select{

	background-color: #f0f0f0 !important;

	border-color: #e0e0e0 !important;

	border-radius: 0 !important;

	@include CooperHewitt-Light;

	text-transform: uppercase;
}

.form-separators{

	color: gray !important;

}


.sm-bottom-icon{

		color: gray !important;


}