header.masthead.masthead-cuadernos {

	background-image: url('../img/headers/cuadernos-shoa.jpg');

}

.my-overlay-cuadernos{

	background-color:rgba(0, 0, 0, 0.9) !important;
}

.quote-text{

	opacity:0;
}

.card-header{

	background-color: white !important;
}

.main-text-section{

	font-size:2em !important;
}

@media (min-width: 768px) { 

	.main-text-section{

		font-size:4.5em !important;
	}

}

