/*@media (min-width: 768px) { 

	.internal-event-masthead{

		height: 90vh !important;
	}

}*/


.my-overlay-individual-event{

	background:rgba(0, 0, 0, 0.6) !important;
}

.slick-prev, .slick-next {

	z-index:999;
}

.main-text-event-title{

	font-size: 2.5em !important;

	padding-top: 20% !important;
}

@media (max-width: 768px) {

	.main-text-event-title{

		padding-top: 45% !important;

	}

}

@media (max-width: 960px) {

	.main-text-event-title{

		font-size: 1.5em !important;

		//padding-top: 40% !important;

	}

}

.main-text-event-buttons{

	//padding-bottom:15%;

}



.single-item-slider{

	margin-left:0px;

	margin-right:0px;

	position:relative;

	height: 550px !important;

	//background-color: black !important;

}

/*.event-single-item-slider{

	margin-left:0px;

	margin-right:0px;

	position:relative;

	height: 80vh !important;

}*/


.background-image-main-container{

	overflow: hidden;

	position:absolute;

	top:0px;

	left:0px;

	width: 100%;

	height:100%;

	background-position: center center;

	background-size: cover;	

	margin: 0 auto; 
}



.events-masthead{

	position:relative !important;

	overflow: hidden !important;

	background-position: center center;

}

@media (max-width: 992px) {

	.events-masthead{

		padding-top: 3rem !important;

	}

}

.date-month{

	color:#ffffff !important;

	font-size: .8em !important;


}


.date-number{
	
	color:#ffffff !important;
	font-size: .8em !important;
}

.event-item {

	//height: 135px;

	//sposition:relative !important;

	//max-height: 91px;

	//transition: background 0.4s, box-shadow 0.4s;

	//overflow: hidden;

	//padding: 0 !important;
}

.go-to-event{

	@include CooperHewitt-Light;
	
	position: absolute !important;
	
	bottom: 4px;

	//background-color: #bbbbbb !important;

}

.number-container{

	overflow: hidden !important;
	background-color: #36739e;
}

.event-list-title{

	font-size: 1.5em !important;

}

@media (max-width: 768px) {

	.event-list-title{

		font-size: 1em !important;

	}


}

.event-list-date{

	font-size: .8em !important;

}

.news-list-description{
	font-size: .8em !important;
}

.inner-number-container{
	position: relative !important;
	top: 40%;
	transform: translateY(-40%);
}

.add-icon{
	color: #bbbbbb;
	margin-left:-2px;
}

.add-icon:hover{
	color: red !important;

}


.facebook-share-button{
	color:#ffffff;
}

.facebook-share-button:hover{
	color:#3b5998 !important;
}

.twitter-share-button{
	color:#ffffff;
}

.twitter-share-button:hover{
	color:#1dcaff !important;
}

.whatsapp-share-button{
	color:#ffffff;
}

.whatsapp-share-button:hover{
	color:#25d366 !important;
}

ul {
	list-style-type: none;
}

.share-item{
	//background-color: orange;
}

.share-list{
	
	padding:0 !important;
	//display:table;

	//position: relative;
   // top: 40%;
    //-webkit-transform: translateY(-40%);
    //transform: translateY(-40%);

    position: relative;
    top: 40%;
    transform: translateY(-40%);




}


.addtocalendar var{
	display:none
}
.addtocalendar{
	position:relative;
	display:inline-block;
	background:transparent!important
}
.atcb-link{
	display:block;
	outline:none!important;
	cursor:pointer
}
.atcb-link:focus~ul,.atcb-link:active~ul,.atcb-list:hover{
	visibility:visible
}
.atcb-list{
	visibility:hidden;
	position:absolute;
	top:100%;
	left:-175px;
	width:170px;
	z-index:90000;

	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.15);

}
.atcb-list,.atcb-item{

	@include CooperHewitt-Light;
	list-style:none;
	padding-left:5px;
	background:#fff;
	margin:0;
	//margin-left:5px !important;
}
.atcb-item{
	@include CooperHewitt-Light;
	float:none;
	text-align:left;
}
.atcb-item-link{

	//margin-left:10px !important;

	text-decoration:none;
	outline:none;
	display:block
}
.atcb-item.hover,.atcb-item:hover{
	position:relative;
	z-index:900;
	cursor:pointer;
	text-decoration:none;
	outline:none
}
.atc-style-button-icon .atcb-link,.atc-style-button-icon .atcb-link:hover,.atc-style-button-icon .atcb-link:active,.atc-style-button-icon .atcb-link:focus{
	text-decoration:none;
	outline:none;
	padding:2px
}


.event-image{

	padding-top: 0 !important;

	padding-left: 0 !important;

	width:100% !important;

	height:100% !important;
}

.event-image:hover{
	
	//animation: pulse .5s;

	//-webkit-animation-fill-mode: forwards;

}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	100% {
		opacity: .5;
	}
}

.destacado{

	pointer-events: none;

	position: absolute;

	top: 0;

	left: 0;

	width: 50% !important;

	z-index: 1;

}

.events-sidebar{

	width: 100%;

	float: right;

	background-color: #f4f4f4 !important;
}

.new-event-container{

	//position:relative;

	//background-color: blue;

	overflow: hidden !important;
}

.do-the-share{
	position:absolute;
	margin-top:1.1em;
}

.the-super-date{

	position:absolute;
	
	top:0;
	
	left:0;
	
	background-color: #5dd3b4 !important;
	
	height: 100%;
	
	width: 100%;
	
	z-index:20;

}

.date-number-container{

}

.the-number{

	font-size:1.4em !important;
}

.numbers-container{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.event-text-content{

	position:absolute;
	
	top:1em;
	
	left:1em;

	display: block !important;

	width: 90%;

	font-size:1em;

	height: 100% !important;

}

.event-title{
	
	font-size:1em;

	text-overflow: ellipsis;

}

.event-date-second-line{

	font-size: .7em !important;
}

.event-sharing-content{

	color:white;

	position:relative;
}

.go-to-event-button{

	position: absolute;
	bottom:2em;
}

.read-event-btn{

	@include CooperHewitt-Light;

	font-size: .7em;

	/*position:absolute;

	left: 1.5em;

	top: 55%;*/

	background-color:transparent !important;

	border: 1px solid #fff !important;

	border-width: thin !important;

	color:white !important;

	cursor: pointer;

	border-radius: 0 !important;

}

.read-event-btn:hover{

	color:#134b95 !important;

	background-color:white !important;

}


.read-event-btn:focus{

	color:white !important;

	background-color:#134b95 !important;

}

.event-image{

	opacity: .2;

	border: none !important;

	box-shadow: none !important;
}

.event-main-image-container{

	background-color: #124c96 !important;
}
