.main-text-exhibition-title{

	font-size: 2.5em !important;

	padding-top: 15% !important;
}

@media (max-width: 768px) {

	.main-text-exhibition-title{

		padding-top: 45% !important;

	}

}

@media (max-width: 960px) {

	.main-text-exhibition-title{

		font-size: 1.5em !important;

		//padding-top: 40% !important;

	}

}

.exhibitions-sidebar{

	width: 100%;

	float: right;

	background-color: #f4f4f4 !important;
}

