footer{

	background-color: black !important;

	color: white;

	height: 50px;

	 position: relative;
}

.footer-text{

	font-size: .7em !important;

	 position: absolute;

	 top: 50%;

	 transform: translateY(-50%);

}