// Global styling for this template
body,

html {

  width: 100%;

  height: 100%;

}

body {

  @include serif-font;
  padding-bottom: 75px;

}

hr {

  max-width: 50px;

  border-width: 3px;

  border-color: $primary;
}


hr.light {

  border-color: $white;

}

a {

  color: $primary;

  @include transition-all;

  &:hover {

    color: darken($primary, .1);

  }
}

h1, h2, h3, h4, h5, h6 { @include sans-serif-font; }

.bg-primary { 

  background-color: $primary !important;

}

.bg-dark {

  background-color: $gray-900 !important;

}

.text-faded {

  color: fade-out($white, .3);

}

section {

  padding: 8rem 0;

}

@media (max-width: 767.98px) {

  section{

    padding: 4rem 0;

  }

}

.section-heading {

  margin-top: 0;

  @include CooperHewitt-Light;

}

::-moz-selection {

  color: $white;

  background: $gray-900;

  text-shadow: none;
}

::selection {

  color: $white;

  background: $gray-900;

  text-shadow: none;
}

img::selection {

  color: $white;

  background: transparent;

}

img::-moz-selection {

  color: $white;

  background: transparent;
}

.main-text{

    //opacity:0;

    @include CooperHewitt-Medium;

  }

  .second-text{

    //opacity:0;

    @include CooperHewitt-Light;
  }

  .main-separator{

    border-color:white !important;

    //opacity:0;
  }

  .left-separator{

    border-color:black !important;

    margin-left:0px !important;
  }

  #countdown-container{

    opacity:0;

  }

  .about-reflexiones{

    color:#666 !important;

    @include CooperHewitt-Medium;
  }

  .text-bold{

    @include CooperHewitt-Bold;

  }

  .text-light{

    @include CooperHewitt-Light;

    //color:gray !important;

  }

  .font-light{

    @include CooperHewitt-Light;

  }


  .text-medium{

    @include CooperHewitt-Medium;

    color:gray !important;

  }

  .text-semi-bold{

    @include CooperHewitt-Semibold;

  }

  .text-heavy{

    @include CooperHewitt-Heavy;

  }

  .text-book{

    @include CooperHewitt-Book;

  }




  .drop-shadow {
    //position:relative;
    //float:left;
    //width:53%;    
    //padding:.1em; 
    //left:-20px;
    //right:20px;
    margin:.1em 10px 1em; 
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  .drop-shadow:before,
  .drop-shadow:after {
    content:"";
    position:absolute; 
    z-index:-2;
  }

  .drop-shadow p {
    font-size:16px;
    font-weight:bold;
  }

  /* Lifted corners */

  .lifted {
    -moz-border-radius:4px; 
    border-radius:4px;
  }

  .lifted:before,
  .lifted:after { 
    bottom:15px;
    left:10px;
    width:85%;
    height:20%;
    max-width:500px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.1);   
    -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.1);
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.1);
    -webkit-transform:rotate(-3deg);    
    -moz-transform:rotate(-3deg);   
    -ms-transform:rotate(-3deg);   
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
  }

  .lifted:after {
    right:10px; 
    left:auto;
    -webkit-transform:rotate(3deg);   
    -moz-transform:rotate(3deg);  
    -ms-transform:rotate(3deg);  
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
  }

  .black{

    color: black !important;
  }

  .white{

    color: white !important;
  }

  .gray-900{

    color: $gray-900 !important;

  }

  .gray-100{

    color: $gray-100 !important;

  }

  .gray-500{

    color: $gray-500 !important;

  }

  .toast-title{

    text-transform:upperCase;

    @include CooperHewitt-Medium;
  }

  .toast-message{

    @include CooperHewitt-Light;

  }

  .toast-info{

    background-color: #687483 !important;
  }

  .filter-button{

    font-family: 'CooperHewitt-Medium' !important;

    background-color:white !important;

    border:1px solid #f5f5f5 !important;

    border-radius: 0 !important;

    color: #999 !important;


  }

  .filter-button:hover{

    color:#999 !important;
    
    background-color:#f8f8f8 !important;

    border:1px solid #f8f8f8 !important;

  }

  .is-checked{

    color:#134b95 !important;

    background-color:#fff !important;

    border:1px solid #134b95 !important;

  }

  .filter-button:focus{

    color:#134b95 !important;

    background-color:#fff !important;

    border:1px solid #134b95 !important;

  }


  .go-to-content a{

    cursor:pointer !important;
  }

  .give-me-ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
   line-height: 1.5;
   max-height: 3*3;
 }

 .two-lines-ellipses {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   line-height: 1.5;
   max-height: 2*2
 }

 .three-lines-ellipses {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
   line-height: 1.5;
   max-height: 3*3
 }

 .one-line-ellipses {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1;
   line-height: 1;
   max-height: 1*1
 }

 .open-sponsors-modal{
  cursor:pointer;
}

.social-icons {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
  z-index: 2;
}

.social-icons ul {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.social-icons ul > li {
  //margin-left: 1rem;
  //margin-right: 1rem;
  display: inline-block;
}

.social-icons ul > li > a {
  display: block;
  color: white;
  background-color: rgba(0, 46, 102, 0.8);
  border-radius: 100%;
  font-size: 1rem;
  line-height: 1rem;
  height: 2rem;
  width: 2rem;
}

.social-icons {
  right: 1.5rem;
  bottom: 1rem;
  width: auto;
  position: -webkit-sticky;
  position: sticky;
}

.social-icons ul {
  margin-top: 0;
  width: auto;
}

.social-icons ul > li {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1rem;
}

.social-icons ul > li:last-child {

  margin-bottom: 0;

}

.social-icons ul > li > a {

  -webkit-transition: all 0.2s ease-in-out;
  
  transition: all 0.2s ease-in-out;
  
  font-size: .8rem;
  
  line-height: 2.0rem;
  
  height: 2.0rem;
  
  width: 2.0rem;

}

.social-icons ul > li > a:hover {
  background-color: #002E66;
}

#background-video{

  object-fit: fill;

  position: absolute;

  height: 100vh; min-height: 100%;  top: 0;

}

.icon-container {
 //padding: 20px;
 font-size: 30px;
 width: 30px;
 text-align: center;
 text-decoration: none;
 border-radius: 50%;
  //background-color:red;

}
//...

.internal-page-content-main-title{

  font-size: 2em !important;
}

.internal-page-content-main-caption{

  font-size: 1.3em !important;
}

.internal-page-content-main-content{

  font-size: 1em !important;
}

.internal-page-content-main-date{

  font-size: .7em !important;
}

.general-sidebar{
  background-color: #f5f5f5 !important;
}

.general-sidebar-thumb{

  margin-top: 1em !important;

  margin-bottom: 1em !important;
}



.main-action-button{

  font-family: 'CooperHewitt-Medium' !important;

  background-color:white !important;

  border:2px solid #ccc !important;

  border-radius: 0 !important;

  color: #999 !important;


}

.main-action-button:hover{

  color:#999 !important;

  background-color:#f8f8f8 !important;

  border:2px solid #f8f8f8 !important;

}

.main-action-button:hover{

  color:#134b95 !important;

  background-color:#fff !important;

  border:1px solid #134b95 !important;

}


.service-box{

  color: #999999 !important;

}




@media (max-width: 767.98px) {

  .generic-action-button{

    padding-top:8px !important;

  }

}


//...

.generic-action-button{

  
  font-family: 'CooperHewitt-Medium' !important;

  background-color:white !important;

  border:1px solid #d9d9d9 !important;

  border-radius: 0 !important;

  color: #999 !important;


}

.generic-action-button:hover{

  color:#999 !important;

  background-color:#f8f8f8 !important;

  border:1px solid #f8f8f8 !important;

}

.generic-action-button:focus{

  color:#134b95 !important;

  background-color:#fff !important;

  border:1px solid #134b95 !important;

}



.iconspan {
  float: left;
  margin-right: 6px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  color: red;
}

.no-border{

  border:1px solid #f8f8f8 !important;

}

.modal-btn:hover{

  color:#134b95 !important;

  background-color:#fff !important;

  border:1px solid #134b95 !important;

}