header.masthead.masthead-heritage {

	background-image: url('../img/headers/patrimonio.jpg');

}

@media (min-width: 768px) { 

	header.masthead.masthead-heritage {

		height: 80vh !important;
	}

}

.heritage-text-content{

	position:absolute;
	
	top:1em;
	
	left:1em;

	display: block !important;

	width: 90%;

	font-size:1em;

}

.heritage-title{
	
	font-size:1em;

	text-overflow: ellipsis;

}

.heritag-caption{

	color:white;

	position:absolute;

	width: 90%;


}

#small-page-top{

	margin-top: 80px !important;
}

.navbar-dark{

	background-color: #555 !important;
}

.main-image-container{

	overflow: hidden;

	transition: opacity 0.6s;
	-webkit-transition: opacity 0.6s;
	opacity: 1;
}

.main-image-container:hover{

	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	opacity: .8;

}

.heritage-list-image{
	opacity: .6;
}

.heritage-main-image-container{

	//background-color: #6e5f46 !important;
	
	background-color: #1f2f66 !important;
}

.heritage-section{

	margin-top: 8em !important;
}