header.masthead.masthead-home {

	background-image: url('../img/headers/principal.jpg');

	height: 80vh !important;

}

@media (min-width: 992px) { 

	header.masthead.masthead-home {

		height: 80vh !important;
	}

}

.fc-basic-view .fc-body .fc-row {
	min-height: 2.7em !important;
}

th.ui-widget-header {

	font-size: 9pt;

	font-family: 'CooperHewitt-Light' !important;
}

.fc-left h2{

	color: #999;

	font-family: 'CooperHewitt-Light' !important;

	text-transform: uppercase;

	font-size: 1.5em;
}

.fc-today-button, .fc-next-button, .fc-prev-button {

	opacity: 1 !important;

	background-color: #124c96 !important;

	border: none !important;
}

.fc-day-header{

	background-color: #f5f5f5;

	color: #555 !important;

	border: none !important;

	min-height:1em !important

}

.fc-day-number{
	
	margin-left: 37%;

	float: none !important;

}

.fc-row.fc-rigid .fc-content-skeleton{

	top: 20% !important;
}

.dates-selector-container{

}

.date-selector-div{

	background-color: #999 !important;

	width: 100%;
}

.date-selector-div-text-info{

	font-size: .9em !important;

}

.tickets-stepper{

	background-color: #999;

	color: white;
	
	width: 50px;
	
	//border: none;

	border:1px solid #fff !important;
}

.selected-date{

	cursor: pointer !important;

	background-color: #555 !important;
}

.date-selector-div-text-info{

	//pointer-events:none !important;

}

.fc-today
{
  background-color:inherit !important;
}

