#courses{

	padding: 4em 0 !important;

}

#course-header{

	padding: 4em 0 !important;

}

#course-content{

	padding: 4em 0 !important;

	background-color:#f5f5f5 !important;
	
}

.arrow-down {

	left:50%;
	
	position:relative;
	
	//top:15px;
	
	width: 0; 
	
	height: 0; 
	
	border-left: 15px solid transparent;
	
	border-right: 15px solid transparent;

	border-top: 15px solid white;
}

#course-button, #subscribe-button{

	background-color: #222 !important;
}


.perspective-container{

	-webkit-transform: perspective( 700 ) rotateY( -25deg );

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	width:500px !important;

	//margin-top:20px !important;


}

.course-image-inline-container{

	overflow: hidden !important;
}