header.masthead.masthead-library {

	background-image: url('../img/headers/biblioteca.jpg');

}

@media (min-width: 768px) { 

	header.masthead.masthead-library {

		height: 90vh !important;
	}

}


.my-overlay-library{

	background-color:rgba(0, 0, 0, 0.8) !important;
}

.quote-text{

	opacity:0;
}

.card-header{

	background-color: white !important;
}

.main-text-section{

	font-size:2em !important;
}

@media (min-width: 768px) { 

	.main-text-section{

		font-size:4.5em !important;
	}

}
