header.masthead {

    position:relative;

    overflow: hidden;

    padding-top: 10rem;

    padding-bottom: calc(10rem - 56px);

    background-position: center center;

    @include background-cover;

    hr {

        margin-top: 30px;
        
        margin-bottom: 30px;
    }
    
    h1 {

        font-size: 1rem;

    }
    
    p {

        @include sans-serif-font;

        font-weight: 300;

    }
    
    @media (min-width: 768px) {

        p {

            font-size: 1.15rem;

        }

    }

    @media (min-width: 992px) {

        //height: 100vh;

        //min-height: 650px;
        
        padding-top: 0;
        
        padding-bottom: 0;
        
        h1 {

            font-size: 1rem;

        }
    }
    @media (min-width: 1200px) {

        h1 {

            font-size: 1.7rem;

        }

    }
}

@media (min-width: 768px) { 

    header.masthead.masthead-library {

        height: 90vh !important;
    }

}

.my-overlay{

    position:absolute;

    background-color:rgba(18, 79, 141, 0.73);

    width:100%;

    height:100%;

    top:0;

    left:0;
}

.my-overlay-dark{

    position:absolute;

    background-color:rgba(0, 0, 0, 0.50);

    width:100%;

    height:100%;

    top:0;

    left:0;
}