header.masthead.masthead-memory {

	background-image: url('../img/headers/memoria.jpg');

}

.my-overlay-memory{

	background-color:rgba(0, 0, 0, 0.8) !important;
}

.quote-text{

	opacity:0;
}

.card-header{

	background-color: white !important;
}

.main-text-section{

	font-size:2em !important;
}

@media (min-width: 768px) { 

	.main-text-section{

		font-size:4.5em !important;
	}

}


.memory-img{

	//-webkit-filter: grayscale(100%);
	
	//filter: grayscale(100%);

}

.memory-page{

	margin-top:4.5em !important;
}