// Mixins
@mixin transition-all() {

	-webkit-transition: all 0.2s;

	-moz-transition: all 0.2s;

	transition: all 0.2s;
}

@mixin background-cover() {

	-webkit-background-size: cover;
	
	-moz-background-size: cover;
	
	-o-background-size: cover;
	
	background-size: cover;
}

@mixin serif-font() { font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

@mixin sans-serif-font() { font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

@mixin CooperHewitt-BoldItalic(){ font-family: 'CooperHewitt-BoldItalic', Arial, sans-serif; }

@mixin CooperHewitt-Light(){ font-family: 'CooperHewitt-Light', Arial, sans-serif; }

@mixin CooperHewitt-Medium(){ font-family: 'CooperHewitt-Medium', Arial, sans-serif; }

@mixin CooperHewitt-Semibold(){ font-family: 'CooperHewitt-Semibold', Arial, sans-serif; }

@mixin CooperHewitt-Bold(){ font-family: 'CooperHewitt-Bold', Arial, sans-serif; }

@mixin CooperHewitt-Heavy(){ font-family: 'CooperHewitt-Heavy', Arial, sans-serif; }

@mixin CooperHewitt-Book(){ font-family: 'CooperHewitt-Book', Arial, sans-serif; }