/*#mainNav {

    border-bottom: 1px solid fade-out($gray-900, .9);

    background-color: $white;
    
    @include CooperHewitt-Medium;
    
    @include transition-all;
    
    .navbar-brand {

        //opacity:0;

        font-weight: 700;
        
        text-transform: uppercase;
        
        color: $primary;
        
        //@include CooperHewitt-Bold;
        
        &:focus,
        
        &:hover { color: darken($primary, .1); }

    }

    .social-media{

        .navbar-nav{

            display:inline-block;

            .nav-item{ float:left; }

        }

    }
    .navbar-nav {

        //opacity:0;

        > li.nav-item {

            > a.nav-link,

            > a.nav-link:focus {

                font-size: .75rem;

                font-weight: 700;

                text-transform: uppercase;
                
                color: $gray-900;

                &:hover {

                    color: $primary;

                }
                
                &.active {

                    color: $primary !important;
                    
                    background-color: transparent;
                    
                    &:hover {  background-color: transparent; }

                }
            }
        }
    }

    @media (min-width: 992px) {

        .social-media{

            .navbar-nav{

                display:flex;
            }

        }

        border-color: transparent;

        background-color: transparent;

        .navbar-brand {

            color: fade-out($white, .3);

            &:focus,

            &:hover { 

                color: $white;
            }
        }

        .navbar-nav > li.nav-item > a.nav-link {

            padding: 0.5rem .5rem;

        }

        .navbar-nav > li.nav-item > a.nav-link,

        .navbar-nav > li.nav-item > a.nav-link:focus {

            color: fade-out($white, .3);

            &:hover {

                color: $white;

            }

        }

        &.navbar-shrink {

            border-bottom: 1px solid fade-out($gray-900, .9);

            background-color: $white;

            .navbar-brand {

                color: $primary;

                &:focus,

                &:hover {

                    color: darken($primary, .1);

                }

            }

            .navbar-nav > li.nav-item > a.nav-link,

            .navbar-nav > li.nav-item > a.nav-link:focus {

                color: $gray-900;

                &:hover {

                    color: $primary;

                }

            }

        }

    }

}

.contact-shrink{

    background-color: rgba(19, 75, 150, 0.2) !important;

}

.my-overlay{

    //opacity:0;

    position:absolute;

    width:100%;

    height:100%;

    background-color:rgba(20, 47, 76, 1);

}

.fa-stack-sm { .fa-circle{ opacity: 0.0; } }

.fa-stack-sm:hover { 

    .fa-circle{ 

        opacity: .5; 

        -o-transition:0.5s;

        -ms-transition:0.5s;

        -moz-transition:0.5s;

        -webkit-transition:0.5s;

        transition:.5s;

    }

    .social-link-facebook{ color:#3b5998 !important; }

    .social-link-twitter{ color:#1dcaff !important; }

    .social-link-youtube{ color:#ff0000 !important; }

    .social-link-flickr{ color:#ff0066 !important; }

    .social-link-vimeo{ color:#4EBBFF !important; }

    .social-link-whatsapp { color:#25d366 !important;}

}

.dropdown:hover>.dropdown-menu {
   display: block;

}

.dropdown-item{

   color:black !important;

   @include CooperHewitt-Light;

   font-size: .75rem;

   text-transform: uppercase;
}

.dropdown-item:hover{

    color:#134b95 !important;

}

.dropdown-menu {

    border-radius: 0 !important;

    margin: -0.125rem 0 0;

    background-color:rgba(255, 255, 255, 0.95) !important;

    border: none !important;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
*/

.navbar-nav {

    color: $primary !important;

    background-color: transparent !important;

    &:hover {  background-color: transparent; }

}

.nav-link{

    font-size: .70rem !important;

    color: white !important;
}





@media (max-width: 992px) {

    #mainNav {

        background-color:white !important;

    }

    .nav-link{

        color: #333 !important;

    }

}

.navbar-shrink {

    background-color: $white;

    .navbar-brand {

        color: $primary;

        &:focus,

        &:hover {

            color: darken($primary, .1);

        }

    }

    .nav-link {

        color: #555 !important;

        &:hover {

            color: $primary;

        }

    }

}

.dropdown-item{

 color:black !important;

 @include CooperHewitt-Light;

 font-size: .75rem;

 text-transform: uppercase;
}

.dropdown-item:hover{

    color:#134b95 !important;

}

.dropdown-menu {

    border-radius: 0 !important;

    margin: -0.125rem 0 0;

    background-color:rgba(255, 255, 255, 0.95) !important;

    border: none !important;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

#mainNav {

    border-bottom: 1px solid fade-out($gray-900, .9);
    
    @include CooperHewitt-Medium;
    
    @include transition-all;
    
    .navbar-brand {

        font-weight: 700;
        
        text-transform: uppercase;
        
        color: white;
        
        @include CooperHewitt-Bold;
        
        &:focus,
        
        &:hover { color: darken($primary, 1); }

    }

}

.dropdown:hover .dropdown-menu {
  display: block;
}