#newsletter{

	background-color: #232323 !important;

	color:white;

	margin-top:-4em;
	
}

.newsletter-input{
	
	background-color: #232323 !important;
	
	color: white !important;

	border-color: #818181 !important;

}

#subscribe-button{

	background-color: #232323 !important;
	
	border-color: white !important;

}

.newsletter-input::placeholder { 

	//color: white;
}

.newsletter-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */

	color:    #ccc;

}

.newsletter-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */

	color:    #ccc;

	opacity:  1;

}

.newsletter-input::-moz-placeholder { /* Mozilla Firefox 19+ */

	color:    #ccc;

	opacity:  1;
}
.newsletter-input:-ms-input-placeholder { /* Internet Explorer 10-11 */

	color:    #ccc;
}
.newsletter-input::-ms-input-placeholder { /* Microsoft Edge */

	color:    #ccc;
}

.newsletter-input::placeholder { /* Most modern browsers support this now. */

	color:    #ccc;
}

#email_validate{

	float:left  !important;

	
}

.newsletter-input-error{
	color: white !important;
}