/*header.masthead{

	height:80vh !important;

}
*/

/*.internal-news-masthead{

	height:80vh !important;

	}*/


	.internal-news-masthead {

	//background-image: url('../img/headers/museo.jpg');

}

@media (min-width: 768px) { 

	.internal-news-masthead{

		height: 80vh !important;
	}

}



.my-overlay-individual-event{

	background:rgba(0, 0, 0, 0.6) !important;
}

.slick-prev, .slick-next {

	z-index:999;
}

.news-list-title{

	font-size:1.7em;
}

.news-list-container:link{

	text-decoration: none !important;

}

.main-text-event-title{

	font-size: 2.5em !important;

	padding-top: 15% !important;
}

@media (max-width: 768px) {

	.main-text-event-title{

		padding-top: 45% !important;

	}

}

@media (max-width: 960px) {

	.main-text-event-title{

		font-size: 1.5em !important;

		//padding-top: 40% !important;

	}

}

.news-list-caption{

	font-size:1em !important;
}

.news-list-content{

	font-size:1em !important;
}

.news-list-date{

	font-size:1em !important;
}

.news-item {

	/*transition: background 0.4s, box-shadow 0.4s;

	overflow: hidden !important;

	padding: 0 !important;*/
}

.image-container{

	background-color: black !important;

	
	position:relative !important;


	overflow: hidden;
}

.news_even{

	background-color: #fafafa;

}

.news-list-container:hover{

	//box-shadow: 0 0 4px rgba(33,33,33,.1); 

}

.news-image:hover{

	/*opacity:1;
	transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;*/

}

.news-image{

	//opacity: .7;

	border: none !important;

	box-shadow: none !important;



	
}



.news-image-container{

	overflow: hidden;

	padding: 0 !important;

}

.comunicado{

	pointer-events: none;

	position: absolute;

	top: 0;

	left: 0;

	//width: 45% !important;

	z-index: 1;

}

.my-overlay-individual-news{

	background:rgba(0, 0, 0, 0.6) !important;
}

.main-text-section-individual-news{

	font-size: 1.5em !important;

	padding-top: 0px !important;

}

@media (min-width: 992px) { 

	.main-text-section-individual-news{

		padding-top: 50px !important;

		font-size: 2.5em !important;

	}

}

.newsletter-left{

	padding: 4em 0;

}

.event-image-container{

	overflow: hidden;

	padding: 0 !important;

}

.comunicado-container{
	position:relative;
	overflow: hidden;
}

.text-container{

}
.news-title{

	text-shadow: 0 0 6px #555;

	position:absolute;
	
	top:4em;
	
	left:1em;

	display: block !important;

	width: 90%;

	font-size:1em;

	text-overflow: ellipsis;

}

.img-shadow{

	position:absolute;

	top:0;

	left:0;

	pointer-events:none !important;

	overflow: hidden !important;
}


.read-btn{

	@include CooperHewitt-Light;

	font-size: .7em;

	position:absolute;

	left: 1.5em;

	top: 55%;

	background-color:transparent !important;

	border: 1px solid #fff !important;

	border-width: thin !important;

	color:white !important;

	cursor: pointer;

	border-radius: 0 !important;

}

.read-btn:hover{

	color:#134b95 !important;

	background-color:white !important;

}


.read-btn:focus{

	color:white !important;

	background-color:#134b95 !important;

}