#opinions{

	background-color:white;

	border-top: thin solid;

	border-color: #ddd;

	position:relative;

	margin-left:0px;

	margin-right:0px;

	border-radius: 0px;

	//padding-right:-20px !important;
}

.opinion-item{

	//border-top: thin solid #ccc;

}

.margin-top{

border-top: thin solid #ccc;

}
.margin-right{

	border-right: thin solid #ccc;
}

@media (max-width: 767.98px) {

	.opinion-img-container{

		height: 150px;

	}

	.opinion-img {

		height: 100%;
	}
}