header.masthead.masthead-reflexiones {

	background-image: url('../img/headers/reflexiones.jpg');

	//height: 100vh !important;
}


@media (min-width: 768px) { 

	header.masthead.masthead-reflexiones {

		height: 90vh !important;
	}

}