header.masthead.masthead-remodelacion {

	background-image: url('../img/headers/remodelacion.jpg');

}

@media (min-width: 768px) { 

	header.masthead.masthead-remodelacion {

		height: 90vh !important;
	}

}

#about-museum{

	//padding: 4em 0;
}

.museum-objectives{

	background-color: #2d2d2d;

	width:100%;

}

.objective-text{

	margin-left:10px;
}

.grid{ }



.element-item {


	//v1
	//background-color:#f8f8f8;

	//float:left;

	position:relative;
	
	color: #262524;
	
	padding-left:0;
	
	padding-right:0;
	
	//v1
	//overflow:hidden;
}

.element-item > * {
	
	margin: 0;
	
	padding: 0;
}

.right-side{

	overflow:hidden;
}

.empty-item{
	
	float:left;
	
	position:relative;
	
	color: #262524;
	
	height: 150px;
	
	padding-left:0;
	
	padding-right:0;
	
	background-color:blue;
}

.first-in-line{

	background-color: white !important;

	width: 50%;

	float:left;
	
	position:relative;
	
	color: #262524;
	
	height: 4em;
	
	padding-left:0;
	
	padding-right:0;
}

.sider-module{

	//height: 22em;

}

.member-img-container{
	
	//height: 22em;


}

.member-img{

	width: 80% !important;

	//height: 22em;

	//margin-top:-1px;

}

.staff-member-phone{

	font-size: .8em;

}

.staff-member-email{

	font-size: .75em;

	cursor:pointer;

	&:hover{

		color: grey !important;

	}

}

@media (max-width: 768px) {

	.staff-info-content{

		margin-top:2em;
		
		margin-bottom: 2em;

	}


}

@media (min-width: 768px) {

	.staff-info-content{

		margin-top:33%;

	}


}


.left-side{ }

.staff-separator{

	//margin-top:0.1 !important;;
}

.role{
	margin-bottom: 0 !important;
}

.contact-heading{

	font-size: 1.2em;
}

.contact-heading-text{

	font-size: .8	em !important;
}

.investigations-container{

	height: 100%;
	//padding:0 !important;
}