#contact{

	padding: 0em 0em !important;
}

#map {

	height: 550px !important;

}

.swal2-popup .swal2-title{

	//@include CooperHewitt-Light !important;

	text-transform: uppercase !important;

	//color:red !important;

}

.sending{
	
	//@include CooperHewitt-Light !important;

	margin-top: 9px !important;
}	